BODY {
	padding: 0;
	margin: 0;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	position: absolute;
	background-color: #131313;
	color: #e0e0e0;
}
.wp_label {
	position: relative;
	font-size: 75%;
	top: -0.7em;
	left: -0.2em;
}
.wp_icon {
	position: relative;
	left: -0.5em;
}
.wp_bees {
	z-index: 8;
	color: #f0f030;
}
.wp_resource {
        z-index: 9;
	color: #412b1c;
	font-weight: bold;
	text-shadow: 0 0 1px #f0e0d0, 0 0 1px #f0e0d0, 0 0 1px #f0e0d0, 0 0 1px #f0e0d0;
}
.wp_resource:hover {
	text-shadow: none;
}
.wp_poi {
	z-index: 10;
	color: #d090ff;
	text-shadow: 0 0 2px #202020, 0 0 2px #202020, 0 0 2px #202020, 0 0 2px #202020;
}
.wp_home {
	z-index: 20;
	text-shadow: 0 0 1px #202020, 0 0 1px #202020, 0 0 1px #202020, 0 0 1px #202020;
}
.wp_tunnel {
	z-index: 12;
	text-shadow: 0 0 1px #202020, 0 0 1px #202020, 0 0 1px #202020, 0 0 1px #202020;
}
.wp_translocator {
	z-index: 15;
	color: #f040f0;
	text-shadow: 0 0 1px #202020, 0 0 1px #202020, 0 0 1px #202020, 0 0 1px #202020;
}
.wp_trader {
	z-index: 11;
	color: #051030;
	font-weight: bold;
	text-shadow: -1px -1px 0 #8090e0, 0.5px -0.5px 0 #8090e0, -0.5px 0.5px 0 #8090e0, 0.5px 0.5px 0 #8090e0;
}
.wp_trader:hover {
	text-shadow: none;
}
.wp_spawn {
	color: #d03022;
	text-shadow: 0 0 2px #202020, 0 0 2px #202020, 0 0 2px #202020, 0 0 2px #202020;
}
.ol_wp {
	cursor: pointer;
	border: 1px dashed rgba(100,100,20, 0.4);
}
#menu {
	position: absolute;
	top: 50px;
	left: 0em;
	z-index: 20;
	background-color: black;
	opacity: 80%;
	border: 1px dashed #606060;
	padding: 0.2em;
	font-size: 90%;
}
.sbhead {
	margin-left: 0.1em;
	min-height: 1.5em;
	max-height: 1.5em;
	height: 1.5em;
	padding-top: 0.1em;
	padding-left: 0.1em;
	padding-right: 0.1em;
	vertical-align: center;
	font-size: 95%;
}
.sbhead:hover {
	background: #202020;
}
#sbslide {
	color: #e0e0d0;
	vertical-align: bottom;
	line-height: 1em;
	padding-top: 0; margin-top: 0;
	cursor: pointer;
}
#sbslide:hover {
	background: #101010;
	color: #fffff8;
	line-height: 1em;
	padding-top: 0; margin-top: 0;
}
#sbslider {
	vertical-align: bottom;
	padding-left: 0.2em;
	position: relativ; top: 0.1em;
	line-height: 1.1em;
	display: inline-block;
	text-align: center;
}
#map_key {
	visibility: hidden;
	min-height: 1px;
	display: none;
	padding-top: 0.5em;
}
.sbentry {
	margin-left: 1em;
}
.m_icon, .key_icon {
	padding-right: 0.3em;
	width: 1em;
	min-width: 1em;
	display: inline-block;
	text-align: center;
	min-height: 1.2em;
	height: 1.2em;
	max-height: 1.2em;
	cursor: pointer;
}
.key_icon {
	cursor: default;
}
.m_label {
	padding-right: 0.5em;
	padding-left: 0.2em;
	font-size: 90%;
}
.m_toggle {
	cursor: pointer;
	padding-right: 0.2em;
	padding-left: 0.2em;
}
.m_toggle:hover {
	color: #fffff0;
}
.m_legend {
	float: right;
	padding-right: 0;
	padding-left: 0.2em;
	margin-right: 0.2em;
}
.m_divider {
	margin-left: 0.1em;
	min-width: 10em;
	width: 10em;
	display: box;
	line-height: 0.3em;
	height: 0.3em;
	max-height: 0.3em;
	padding-bottom: 0; margin-bottom: 0;
}
hr {
	border: none;
	border-top: 1px dashed #808080;
}
.m_open {
	cursor: pointer;
	padding-right: 0;
	padding-left: 0.2em;
	float: right;
}
.m_open:hover {
	color: #fffff0;
}
.m_bees {
	color: #f0f030;
}
.m_resource {
	color: #412b1c;
}
.m_pois {
	color: #d090ff;
}
.m_trader {
	color: #051030;
	font-weight: bold;
	text-shadow: -1px -1px 0 #8090e0, 0.5px -0.5px 0 #8090e0, -0.5px 0.5px 0 #8090e0, 0.5px 0.5px 0 #8090e0;
}
.m_trader:hover {
	color: #051030;
	font-weight: bold;
	text-shadow: -1px -1px 0 #8090e0, 0.5px -0.5px 0 #8090e0, -0.5px 0.5px 0 #8090e0, 0.5px 0.5px 0 #8090e0;
}
.m_translocator {
	color: #fefefe;
}
.m_tunnel {
	color: #ff8020;
	border: none;
	border-top: 2px solid #ff8020;
	max-width: 0.95em;
	min-width: 0.95em;
	width: 0.95em;
}
.m_road {
	color: #fff030;
	border: none;
	border-top: 2px solid #fff000;
	max-width: 0.95em;
	min-width: 0.95em;
	width: 0.95em;
	margin-right: 0;
}
.m_key {
	opacity: 1.0;
	min-width: 2.15em;
}
.m_key_water {
	background: #143a2d;
}
.m_key_basalt {
	background: #2f2f2f;
}
.m_key_bauxite {
	background: #945c3f;
}
.m_key_claystone {
	background: #74654f;
}
.m_key_chalk {
	background: #92938f;
}
.m_key_chert {
	background: #5d4b41;
}
.m_key_conglomerate {
	background: #7d7762;
}
.m_key_shale {
	background: #454545;
}
.m_key_slate {
	background: #483d3a;
}
.m_key_double {
	background: #c6c1d2;
	min-width: 2.15em;
}
.m_key_snow {
	background: #c6c1d2;
	max-width: 0.95em;
	min-width: 0.95em;
	width: 0.95em;
	margin-right: 0;
}
.m_key_ice {
	background: #919ba3;
	max-width: 1em;
	min-width: 1em;
	width: 1em;
}
.m_key_peridotite {
	background: #696b52;
}
.m_home {
	color: #fef0f0;
}
.m_spawn {
	color: #ff6020;
}
.highlight {
	padding: 0.2em;
	padding-top: 0.4em;
	padding-left: 1em;
	padding-bottom: 0.2em;
	background-color: rgba(210,210,120,0);
	border: 1px dashed rgba(100,100,20, 0);
}
.highlight:hover {
	padding: 0.2em;
	padding-top: 0.4em;
	padding-left: 1em;
	padding-bottom: 0.2em;
	color: #f0f0f0;
	z-index: 100;
	background-color: rgba(50,45,30,1);
	border: 1px dashed rgba(210,210,60, 0.7);
}
#coordinates {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 1;
	min-height: 1.5em;
	min-widht: 10em;
	font-size: 90%;
	background-color: black;
	opacity: 80%;
	border: 1px dashed #606060;
	color: #d0d0d0;
	font-family: Deja Vu, Arial, Helvetica, sans-serif;
	vertical-align: middle;
	padding: 0.5em;
	padding-bottom: 0.2em;
}
#notice {
	position: absolute;
	bottom: 2.5em;
	left: 1.5em;
	z-index: 1;
	background-color: transparent;
	color: #d0d0d0;
	font-size: 10px;
}
#mapcontainer {
	width: 100%;
	height: 100%;
}
#map {
	position: relative;
	text-align: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 0;
}
.displayregioncontainer {
	border: 1px dashed #606060;
}
.navigator {
	z-index: 1000;
	border: 1px dashed #606060;
}
a.href { color: #d0d0ef; }
a:link { color: #b0b060; text-decoration: none; }
a:visited { color: #b0b000; }
a:active { color: #ffff60; background: #ff4040; }
a:hover
	{
	color: white;
	background: #800000;
	}
